* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
#box {
  height: 360px;
  width: 256px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  padding: 8px;
  border-radius: 8px;
  gap: 8px;
  background-color: rgb(122, 255, 255);
}
.bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
