body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 64vw;
  height: 64vh;
  background-color: lightblue;
  border: 2px solid rgb(0, 0, 0);
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#count_down {
  font-size: 1.64rem;
  font-weight: 700;
}
button {
  margin: 0.7rem;
  border-radius: 1rem;
  width: 4rem;
  background-color: rgb(97, 255, 247);
  border: 2px solid black;
  cursor: pointer;
}
