.box {
  width: 80vw;
  height: 80vh;
  background-color: lightblue;
  border: 2px solid rgb(0, 0, 0);
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#count_down {
  font-size: 1.64rem;
  font-weight: 700;
}
button {
  margin: 1rem;
  border-radius: 1rem;
  width: 4rem;
  background-color: aliceblue;
  border: 2px solid black;
  cursor: pointer;
}
