* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  weight: 64vw;
  color: aquamarine;
  background-color: black;
  font-size: large;
}
button {
  background-color: aquamarine;
  padding: 8px;
  font-weight: bold;
}
