* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  text-align: center;
}
.greetingBox {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 600px;
  background-color: rgb(174, 221, 189);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 16px;
}
