* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: rgb(127, 195, 255);
}
h2 {
  width: 100vw;
  height: 64px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.choice {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.option {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 4px solid white;
  transition: all 0.3s ease;
}
img:hover {
  transform: scale(1.1);
  scale: 1.1;
  border: 4px solid rgb(0, 0, 0);
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 64px;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 32px;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: black;
  color: white;
  padding: 16px 32px;
  border-radius: 16px;
}
